In [1]:
ppl = {1:'Adam', 2:'Tom',4:'Ann'}

In [2]:
ppl.get(3)

In [3]:
ppl[3]

KeyError: 3

In [5]:
try:
    ppl[3]
except Exception as ex:
    print('Cannot get value: {}'.format(ex))

Cannot get value: 3

In [9]:
try:
    1/0
    ppl[3]
except KeyError as ex:
    print('Cannot get value: {}'.format(ex))
except ZeroDivisionError as ex:
    print('Cannot devide: {}'.format(ex))
except Exception as ex:
    print('Some other error: {}'.format(ex))
finally:
    print('finished')

Cannot devide: division by zero
finished

In [10]:
class Human:
    species = 'homo-sapiens'

    def __init__(self, age, name, surname, weight):
        self.age = age
        self.name = name
        self.surname = surname
        self.weight = weight
        
    def say_hello(self):
        print('Hello I\'m {}'.format(self.name))
        
    @property
    def full_name(self):
        return "{name} {surname}".format(name=self.name, surname=self.surname)
    
    def __str__(self):
        return self.full_name
    
    def __repr__(self):
        return '{class_name} with full name: {full_name}'.format(class_name=self.__class__, full_name=self.full_name)
    
    def __gt__(self, other):
        return self.age > other.age
    
    
class ModernHuman(Human):
    def __init__(self, age, name, surname, weight, facebook_account):
        super().__init__(age, name, surname, weight)
        self.facebook_account = facebook_account
        
        
x_youtuber = ModernHuman(21, 'Tom', 'Random', 91, 'http://facebook.com/32')

In [11]:
import pickle

In [12]:
Ania = Human(20, 'Anka', 'Nowak', 54)

In [13]:
with open('human.pickle', 'wb') as pickle_fil:
    pickle.dump(Ania,pickle_fil )

In [14]:
with open('human.pickle','rb') as pickle_fil:
    tmp_read = pickle.load(pickle_fil)
tmp_read

<class '__main__.Human'> with full name: Anka Nowak

# Args

In [15]:
def multiply(x,y):
    print (x*y)

In [16]:
multiply(4,5)

20

In [17]:
multiply(4,5,2)

TypeError: multiply() takes 2 positional arguments but 3 were given

In [18]:
def multiply(*args):
    z = 1
    print(args)
    print(type(args))
    for num in args:
        z *= num
    print (z)

In [19]:
multiply(4,5,2)

(4, 5, 2)
<class 'tuple'>
40

# Kwargs

In [24]:
def print_values(first_param=3, **kwargs):
    for key, value in kwargs.items():
        print('Tke value of {} is {}'.format(key, value))
    print('First param {}'.format(first_param))

In [25]:
print_values(first_param=3, x=3, y=4, z=5)

Tke value of x is 3
Tke value of y is 4
Tke value of z is 5
First param 3

In [26]:
print_values(first_param=9, x=3, y=4, z=5)

Tke value of x is 3
Tke value of y is 4
Tke value of z is 5
First param 9

In [27]:
print_values(x=3, y=4, z=5)

Tke value of x is 3
Tke value of y is 4
Tke value of z is 5
First param 3

# Lambda

In [43]:
input_table = [i for i in range(10)]

In [30]:
input_table

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
def convertTo_str(in_param):
    return str(in_param)

In [32]:
[convertTo_str(i) for i in input_table]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [33]:
[str(i) for i in input_table]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [44]:
def if_even_multiply(in_param):
    if in_param % 2 == 0:
        return in_param * 2
    return in_param

In [45]:
if_even_multiply(3)

3

In [46]:
[if_even_multiply(i) for i in input_table]

[0, 1, 4, 3, 8, 5, 12, 7, 16, 9]

In [52]:
if_even_multiply2 = lambda x: x*2 if x % 2 == 0 else x

In [57]:
[(lambda x: x*2 if x % 2 == 0 else x)(i) for i in input_table]

[0, 1, 4, 3, 8, 5, 12, 7, 16, 9]

In [53]:
if_even_multiply2(2)

4

In [56]:
list(filter(lambda x: True if x % 2 == 0 else False, input_table))

[0, 2, 4, 6, 8]

In [59]:
list(filter(lambda x: not x % 2, input_table))

[0, 2, 4, 6, 8]

In [60]:
list(filter(lambda x: x>5, input_table))

[6, 7, 8, 9]

In [61]:
from functools import reduce

In [63]:
input_table = [1,2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
reduce(lambda x, y: x*y, input_table)

362880

In [66]:
reduce(lambda x, y: x+y, input_table)

45

In [67]:
def fi(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return fi(n-2) + fi(n-1)


scrum_points = [fi(i) for i in range(8)]
scrum_points

[0, 1, 1, 2, 3, 5, 8, 13]

In [68]:
reduce(lambda x, y: x+y, scrum_points)

33

# Regex

In [69]:
import re

In [70]:
x = "first second third"

In [71]:
x.split()

['first', 'second', 'third']

In [72]:
y = "first, second, third"

In [73]:
y.split(',')

['first', ' second', ' third']

In [74]:
separator = ','

In [75]:
re.split(separator,y)

['first', ' second', ' third']

In [76]:
z = 'Merry christmas 2017, 2018, 2019 Merry'

In [77]:
re.findall("Merry", z)

['Merry', 'Merry']

In [80]:
re.search("^[a-z]+", z)

In [83]:
p = re.search("[A-Z][a-z]+", z)

In [84]:
p.group(0)

'Merry'

In [125]:
address = "http://www.wp.pl"
address1 = "http://www"

In [162]:
def domain(in_adr):
    reult = None
    try:
        result = re.search("\.\w+$",in_adr).group(0)
    except AttributeError:
        print('Brak domeny')
    
    return reult

In [163]:
domain(address1)

Brak domeny

In [148]:
try:
    address1 = "http://www"
except AttributeError as err:
    print('Brak domeny.')
    print(err)

In [153]:
try:
    address1 = "http://www"
except AttributeError as err:
    print('Brak domeny.')
    print(err)

In [164]:
address = "http://www.wp.pl\nhttp://www.o2.pl\nhttp://www.google.com"

In [165]:
re.sub('\n', ',', address)

'http://www.wp.pl,http://www.o2.pl,http://www.google.com'

In [191]:
import pandas as pd

In [192]:
from pandas import DataFrame

In [193]:
DataFrame(data={'a': ['val'], 'b': ['dal']})

     a    b
0  val  dal

In [200]:
from pandas import Series

In [204]:
dni = Series(['pn','wt','sr','czw','pt','sb','nd'])
tempertury = Series([11,12,12,14,15,16,19])
wilgotnosc = Series(['80%', '90%', '83%', '95%','88%', '91%'])
slownik = {'Dzien':dni, 'Temperatura': tempertury, 'Wilgotnosc': wilgotnosc}

ramka = DataFrame(data=slownik)

In [205]:
ramka

  Dzien  Temperatura Wilgotnosc
0    pn           11        80%
1    wt           12        90%
2    sr           12        83%
3   czw           14        95%
4    pt           15        88%
5    sb           16        91%
6    nd           19        NaN