In [1]:
import pandas as pd

In [2]:
my_serires = pd.Series([1,2,3,4,5,7,9,10])

In [3]:
my_serires

0     1
1     2
2     3
3     4
4     5
5     7
6     9
7    10
dtype: int64

In [4]:
my_serires.values

array([ 1,  2,  3,  4,  5,  7,  9, 10])

In [5]:
my_serires.index

RangeIndex(start=0, stop=8, step=1)

In [6]:



my_serires[4]

5

In [7]:
my_serires2 = pd.Series([9,10,11,12,13], index=['a','b','c','d','e'])

In [8]:
my_serires2

a     9
b    10
c    11
d    12
e    13
dtype: int64

In [9]:
my_serires2['c']

11

In [10]:
my_serires2[['c','d']]

c    11
d    12
dtype: int64

In [11]:
my_serires2[['c','d']] = 0

In [12]:
my_serires2

a     9
b    10
c     0
d     0
e    13
dtype: int64

In [13]:
my_serires2[my_serires2>0]

a     9
b    10
e    13
dtype: int64

In [14]:
my_serires2[my_serires2>0]*2

a    18
b    20
e    26
dtype: int64

In [15]:
my_serires2

a     9
b    10
c     0
d     0
e    13
dtype: int64

In [16]:
my_serires3= pd.Series({'a':2, 'b':3, 'c':8, 'd':13, 'e':18})

In [17]:
my_serires3

'a' in my_serires3

True

In [18]:
2 in my_serires3

False

In [19]:
my_serires3.name= 'numbers'
my_serires3.index.name = 'letters'
my_serires3

letters
a     2
b     3
c     8
d    13
e    18
Name: numbers, dtype: int64

In [20]:
my_serires3.index = ['A','B','C','D','E']

In [21]:
my_serires3

A     2
B     3
C     8
D    13
E    18
Name: numbers, dtype: int64

In [22]:
df = pd.DataFrame({'Country':['Kazachstan', 'Polska', 'Rosja'],
                   'Populacja':[40.2, 38.5,130.7],
                   'Powierzchnia':[2724038, 380000, 17000000]
})

In [23]:
df

      Country  Populacja  Powierzchnia
0  Kazachstan       40.2       2724038
1      Polska       38.5        380000
2       Rosja      130.7      17000000

In [24]:
type(df['Country'])

pandas.core.series.Series

In [25]:
df['Country']

0    Kazachstan
1        Polska
2         Rosja
Name: Country, dtype: object

In [26]:
df.columns

Index(['Country', 'Populacja', 'Powierzchnia'], dtype='object')

In [27]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [28]:
df.index = ['KZ', 'PL', 'RU']

In [29]:
df.index.name = 'Country Code'

In [30]:
df

                 Country  Populacja  Powierzchnia
Country Code
KZ            Kazachstan       40.2       2724038
PL                Polska       38.5        380000
RU                 Rosja      130.7      17000000

In [31]:
df['Country']

Country Code
KZ    Kazachstan
PL        Polska
RU         Rosja
Name: Country, dtype: object

In [32]:
df.loc['PL']

Country         Polska
Populacja         38.5
Powierzchnia    380000
Name: PL, dtype: object

In [33]:
df.iloc[1]

Country         Polska
Populacja         38.5
Powierzchnia    380000
Name: PL, dtype: object

In [34]:
df.loc[['PL','RU'], 'Populacja']

Country Code
PL     38.5
RU    130.7
Name: Populacja, dtype: float64

In [35]:
df.loc['PL':'RU', :]

             Country  Populacja  Powierzchnia
Country Code
PL            Polska       38.5        380000
RU             Rosja      130.7      17000000

In [36]:
df[df.Populacja>40][['Country', 'Powierzchnia']]

                 Country  Powierzchnia
Country Code
KZ            Kazachstan       2724038
RU                 Rosja      17000000

In [37]:
df.reset_index()

  Country Code     Country  Populacja  Powierzchnia
0           KZ  Kazachstan       40.2       2724038
1           PL      Polska       38.5        380000
2           RU       Rosja      130.7      17000000

In [38]:
df['Zageszczenie'] = df['Populacja']/df['Powierzchnia']*1000000

In [39]:
df

                 Country  Populacja  Powierzchnia  Zageszczenie
Country Code
KZ            Kazachstan       40.2       2724038     14.757503
PL                Polska       38.5        380000    101.315789
RU                 Rosja      130.7      17000000      7.688235

In [40]:
df.drop(['Zageszczenie'], axis='columns')

                 Country  Populacja  Powierzchnia
Country Code
KZ            Kazachstan       40.2       2724038
PL                Polska       38.5        380000
RU                 Rosja      130.7      17000000

In [41]:
df = df.rename(columns={'Populacja':'Population', 'Powierzchnia':'Squere'})

In [42]:
df

                 Country  Population    Squere  Zageszczenie
Country Code
KZ            Kazachstan        40.2   2724038     14.757503
PL                Polska        38.5    380000    101.315789
RU                 Rosja       130.7  17000000      7.688235

In [43]:
df['Zageszczenie'] = df['Population']/df['Squere']*1000000

In [44]:
df

                 Country  Population    Squere  Zageszczenie
Country Code
KZ            Kazachstan        40.2   2724038     14.757503
PL                Polska        38.5    380000    101.315789
RU                 Rosja       130.7  17000000      7.688235

In [45]:
del df['Zageszczenie']

In [46]:
df

                 Country  Population    Squere
Country Code
KZ            Kazachstan        40.2   2724038
PL                Polska        38.5    380000
RU                 Rosja       130.7  17000000

In [47]:
df.to_csv('CountryCode.csv')

In [48]:
df1 = pd.read_csv('CountryCode.csv', sep=',')

In [49]:
df1

  Country Code     Country  Population    Squere
0           KZ  Kazachstan        40.2   2724038
1           PL      Polska        38.5    380000
2           RU       Rosja       130.7  17000000

In [50]:
titanic_df = pd.read_csv('titanic.csv')
print(titanic_df.head())

   PassengerID                                           Name PClass    Age  \
0            1                   Allen, Miss Elisabeth Walton    1st  29.00
1            2                    Allison, Miss Helen Loraine    1st   2.00
2            3            Allison, Mr Hudson Joshua Creighton    1st  30.00
3            4  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00
4            5                  Allison, Master Hudson Trevor    1st   0.92

      Sex  Survived  SexCode
0  female         1        1
1  female         0        1
2    male         0        0
3  female         0        1
4    male         1        0

In [51]:
print(titanic_df.groupby(['Sex', 'Survived'])['PassengerID'].count())

Sex     Survived
female  0           154
        1           308
male    0           709
        1           142
Name: PassengerID, dtype: int64

In [52]:
print(titanic_df.groupby(['PClass', 'Survived'])['PassengerID'].count())

PClass  Survived
*       0             1
1st     0           129
        1           193
2nd     0           160
        1           119
3rd     0           573
        1           138
Name: PassengerID, dtype: int64

In [53]:
pvt = titanic_df.pivot_table(index=['Sex'], columns=['PClass'], values='Name', aggfunc='count')

In [54]:
pvt

PClass    *    1st    2nd    3rd
Sex
female  NaN  143.0  107.0  212.0
male    1.0  179.0  172.0  499.0

In [55]:
print(pvt.loc['female',['1st', '2nd','3rd']])

PClass
1st    143.0
2nd    107.0
3rd    212.0
Name: female, dtype: float64

In [60]:
df3 = pd.read_csv('apple.csv', index_col='Date', parse_dates=True)

In [62]:
df3 = df3.sort_index()

In [64]:
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2012-02-23 to 2017-02-22
Data columns (total 6 columns):
Open         1258 non-null float64
High         1258 non-null float64
Low          1258 non-null float64
Close        1258 non-null float64
Volume       1258 non-null int64
Adj Close    1258 non-null float64
dtypes: float64(5), int64(1)
memory usage: 68.8 KB
None

In [65]:
df3

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2012-02-23,515.079987,517.830009,509.499992,516.389977,142006900,66.903253
2012-02-24,519.669998,522.899979,518.640015,522.409981,103768000,67.683203
2012-02-27,521.309982,528.500000,516.280014,525.760017,136895500,68.117232
2012-02-28,527.960014,535.410011,525.850006,535.410011,150096800,69.367481
2012-02-29,541.560005,547.610023,535.700005,542.440025,238002800,70.278286
2012-03-01,548.169983,548.209984,538.769981,544.469978,170817500,70.541286
2012-03-02,544.240013,546.800018,542.519974,545.180008,107928100,70.633277
2012-03-05,545.420013,547.479980,526.000023,533.160027,202281100,69.075974
2012-03-06,523.659996,533.690025,516.219986,530.259987,202559700,68.700246
2012-03-07,536.800003,537.779999,523.299988,530.690010,199630200,68.755959
2012-03-08,534.689995,542.989998,532.120003,541.989975,129114300,70.219978
2012-03-09,544.209999,547.740013,543.110001,545.170021,104729800,70.631983
2012-03-12,548.979988,551.999977,547.000023,551.999977,101820600,71.516869
2012-03-13,557.540024,568.180000,555.750023,568.099998,172713800,73.602781
2012-03-14,578.050026,594.719994,575.399979,589.580009,354711000,76.385721
2012-03-15,599.609985,600.009995,578.550011,585.559998,289929500,75.864890
2012-03-16,584.719978,589.199974,577.999985,585.569984,206371900,75.866184
2012-03-19,598.370010,601.769981,589.050011,601.100006,225309000,77.878247
2012-03-20,599.510010,606.899979,591.480026,605.959984,204165500,78.507903
2012-03-21,602.739990,609.650002,601.410027,602.499985,161010500,78.059627
2012-03-22,597.779984,604.499977,595.529999,599.340019,155967700,77.650224
2012-03-23,600.490005,601.799995,594.399986,596.050011,107622200,77.223972
2012-03-26,599.790016,607.150024,595.259979,606.979980,148935500,78.640054
2012-03-27,606.180016,616.280006,606.060013,614.480019,151782400,79.611755
2012-03-28,618.379974,621.450005,610.309990,617.620010,163865100,80.018571
2012-03-29,612.780006,616.560013,607.230026,609.859993,152059600,79.013187
2012-03-30,608.769981,610.559982,597.939987,599.550011,182759500,77.677430
2012-04-02,601.830009,618.769997,600.379990,618.630020,149587900,80.149428
2012-04-03,627.300018,632.209984,622.510002,629.319984,208639900,81.534415
2012-04-04,624.349991,625.859985,617.000023,624.309990,143245200,80.885322
...,...,...,...,...,...,...
2017-01-10,118.769997,119.379997,118.300003,119.110001,24462100,118.595819
2017-01-11,118.739998,119.930000,118.599998,119.750000,27588600,119.233055
2017-01-12,118.900002,119.300003,118.209999,119.250000,27086200,118.735214
2017-01-13,119.110001,119.620003,118.809998,119.040001,26111900,118.526121
2017-01-17,118.339996,120.239998,118.220001,120.000000,34439800,119.481976
2017-01-18,120.000000,120.500000,119.709999,119.989998,23713000,119.472017
2017-01-19,119.400002,120.089996,119.370003,119.779999,25597300,119.262925
2017-01-20,120.449997,120.449997,119.730003,120.000000,32597900,119.481976
2017-01-23,120.000000,120.809998,119.769997,120.080002,22050200,119.561633
2017-01-24,119.550003,120.099998,119.500000,119.970001,23211000,119.452107
2017-01-25,120.419998,122.099998,120.279999,121.879997,32377600,121.353858
2017-01-26,121.669998,122.440002,121.599998,121.940002,26337600,121.413604
2017-01-27,122.139999,122.349998,121.599998,121.949997,20562900,121.423555
2017-01-30,120.930000,121.629997,120.660004,121.629997,30377500,121.104937
2017-01-31,121.150002,121.389999,120.620003,121.349998,49201000,120.826147
2017-02-01,127.029999,130.490005,127.010002,128.750000,111985000,128.194203
2017-02-02,127.980003,129.389999,127.779999,128.529999,33710400,127.975152
2017-02-03,128.309998,129.190002,128.160004,129.080002,24507300,128.522781
2017-02-06,129.130005,130.500000,128.899994,130.289993,26845900,129.727549
2017-02-07,130.539993,132.089996,130.449997,131.529999,38183800,130.962201
2017-02-08,131.350006,132.220001,131.220001,132.039993,23004100,131.469994
2017-02-09,131.649994,132.449997,131.119995,132.419998,28349900,132.419998
2017-02-10,132.460007,132.940002,132.050003,132.119995,20065500,132.119995
2017-02-13,133.080002,133.820007,132.750000,133.289993,23035400,133.289993
2017-02-14,133.470001,135.089996,133.250000,135.020004,32815500,135.020004
2017-02-15,135.520004,136.270004,134.619995,135.509995,35501600,135.509995
2017-02-16,135.669998,135.899994,134.839996,135.350006,22118000,135.350006
2017-02-17,135.100006,135.830002,135.100006,135.720001,22084500,135.720001
2017-02-21,136.229996,136.750000,135.979996,136.699997,24265100,136.699997
2017-02-22,136.429993,137.119995,136.110001,137.110001,20745300,137.110001

In [66]:
df3.loc['2012-Feb', 'Close'].mean()

528.4820021999999